aiohttp
async-timeout 
attrs       
beautifulsoup4
bs4
certifi
cffi
chardet      
click
colorama     
colorthief    
discord       
discord.py    
executing
fuzzywuzzy
gitdb
GitPython
idna
imgurpython
lxml
lyricsgenius
multidict
Pillow
praw
prawcore
pycparser
PyNaCl
pyperclip
pytesseract
python-dotenv
python-Levenshtein
requests
selenium
six
smmap
soupsieve
tqdm
typing-extensions
update-checker
urllib3
varname
websocket-client
websockets
yarl
youtube-dl