aiohttp==3.6.3
async-timeout
attrs
beautifulsoup4
bs4
certifi
cffi
chardet==3.0.4
colorama
colorthief
discord.py
gitdb
GitPython
idna
lxml
lyricsgenius
multidict==4.7.6
Pillow
praw
prawcore
pycparser
PyNaCl
pytesseract
python-dotenv
requests
selenium
six
smmap
tqdm
update-checker
urllib3
websocket-client
websockets
yarl==1.5.1
youtube-dl
pytz
imgurpython
fuzzywuzzy
python-Levenshtein